<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?js= (title ? (title + ' - ') : '') + 'Cesium Documentation' ?></title>

    <!--[if lt IE 9]>
      <script src="javascript/html5.js"></script>
    <![endif]-->
    <link href="styles/jsdoc-default.css" rel="stylesheet">
</head>
<body>

<div id="mainIndex">

<div class="nav">
    <div class="menu">
        <a href="https://cesium.com/" target="_top"><img id="cesium-logo" src="Images/CesiumLogo.png" class="cesiumLogo"></a>

        <input type="text" class="classFilter" id="ClassFilter" placeholder="Search">

        <?js= this.nav ?>
    </div>
</div>

    <?js= content ?>

    <div class="help">
        需要帮助？获得答案的最快方法是来自社区和团队 <a href="https://community.cesium.com/">Cesium Forum</a>.
    </div>

    <footer>
        文档生成者 <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
    </footer>
</div>

<script>
document.getElementById('ClassFilter').focus();
</script>

<script src="javascript/cesiumDoc.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6110ebb3278c560bb73979db5e108070";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
